.det{
  background: #eee;
  box-shadow: 1px 1px 5px #888888;
}
.dettop{
  display:flex;
  justify-content: space-between;
  align-items: center;
	flex-wrap: wrap;
}
.detbot{
  /* height: 10%; */
  border: solid #ddd 1px;
  background: #eee;
  display:flex;
  justify-content: space-between;
  align-items: center;
	flex-wrap: wrap;
  padding: 5px 50px 5px 50px ;
  border-radius: 5px;
  font-size: 90%;

}
.section{
  padding: 10px;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 5%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 2px;
}

.des{
  color: #333;
  padding: 15px;
}

.name{
  display: inline-block;
  margin: -10px;

}

 .AppName{
  color: rgb(45, 60, 71);
  font-size: 25px;
  font-weight: bold;
}

.logo{
  width:200px ;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 1px 1px 5px #888888;
}
.detbut{
  background-color: #4b595c; /* Green */
  border: none;
  color: white;
  padding: 12px 7%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10%;
  margin-left: 20%;
  cursor: pointer;
  margin-bottom: 60px;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 5px;
}
button a{
  text-decoration: none;
  color: white;
}


.rate{

}





/*                       comment                                        */

.comment{
  position: relative;
  padding-right: 20px;
}

.comBox{
  background: #eee;
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  box-shadow: 1px 1px 5px #888888;

}

textarea{
  width: 80%;
  resize: none;
  position: relative;
  padding: 15px;
    margin: 50px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    display: block;
    width: 80%;
    box-shadow: 1px 1px 5px #888888;
}

form button{
  width: 100px;
  height: 30px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
}

  .edit{
  position: absolute;
  top: 0px;
  right: 0px;
  color: #333;
  border: none;
  background-color: #ddd;
}

.delete{
  position: absolute;
  top: 0px;
  right: 100px;
  color: #333;
  border: none;
  background-color: #ddd;
}

body {
font-family: Arial, sans-serif;
color: #404040;
}

.comm{
  position: relative;
  width: 720px;
margin-top: 80px;
}

.combt{
    color: #fff;
    background-color: #3e6c94;
    border:none;
    box-shadow: 1px 1px 5px #888888;
    margin-top: 10px;
}hr {
  border: 1px solid #a3dcc6;
    /* margin-bottom: 25px; */
}
.comm h1{
  font-size: 35px;
} 

.comment p {
  /* padding: 0%; */
  margin: 0px;
  padding-left:20px;
  font-size: 12px;
  color:#555;
}
.comment .msg{
  font-size:17px ;
  font-weight: 600;
  color: #27363f;
  padding-bottom: 5px;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}
