
.section{
    clear: both;
    width: 90%;
    background-color: tomato;
    margin: 5% 0% 5% 0% ;
    margin-left: auto;
    margin-right: auto;
}
.apptitle{
    color: #555;
    padding-top:5px;
    margin: 0px;      
    font-size: 15px;  
    padding-left: 5px;  
}
.appdet{
    padding-top: 12px;
    font-size: 11px;
    padding:0px 10px 0px 10px;
}
/* .AppRow{ */
    /* position: relative; */
    /* background-color: royalblue; */
    /* width: 80%; */
    /* margin-left:auto;
    margin-right:auto; */
    /* height: 100px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 3px 2px; */
    /* overflow: hidden; */
    /* height: auto; */
    /* margin-top: 40%;
    margin-bottom: 4%; */
    /* height: 400px; */
/* } */

.appbox{
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px 1px;
    background: rgb(236, 241, 243);
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    float:left;
    width:10%;
}
.appbox img{
    width:100%;

}
  
