.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
	flex-wrap: wrap;
  background:transparent;
/*	margin: 0px 10% 0px 10%;*/
}

.fwrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user{
	margin-left: auto;
}
.flex-container > div {
	align-content: center;
	height: 70px;
	padding: 5px;
	font-size: 20px;
}
.search{
  display: flex;
  /* flex: 1; */
  padding:0px 30px 0px 60px;
  
 
}

.search input[type=text] {
  padding: 15px;
  margin: 5px 0 0px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  /* width: 60%; */
  box-shadow: 1px 1px 5px #888888;
}


.Hlogo{
	max-height:70px;
	display: block;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.3) 4px 5px 5px 2px;
  padding: 10px 40px 10px 40px;
  background: #f2f2e9fe;
	text-align: center;}

.navbar {
  overflow: hidden;
  
  background-color: ; 
}

.navbar a {
  float: left;
  display: block;
  color: #3B3B3B;
  text-align: center; 
  padding: 5px ;
  text-decoration: none;
	background-color: ;
  font-size: 30px;
  text-shadow: 2px 2px 2px  #ddd;
  transition-duration: 0.2s;
}

.navbar a:hover {
  background-color: #ddd;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .search {
  flex: 1;
} */




.item1 { grid-area: logo; }
.item2 { grid-area: Services; }
.item3 { grid-area: company; ;margin: 0px 0rem 0px 90px; }
.item4 { grid-area: legal; }
.item5 { grid-area: cr; }
.item7 { grid-area: sm; }

.flogo{
	height: 100px;
}
.social-media-a{
	width: 40px;
	margin-left: 10px;
}

.lil{
	line-height: 30px;
}

.lil a:link {
  text-decoration: none;
color: #4B4B4B;
}

.Fgrid {	
  display: grid;
  grid-template-areas:
    'logo logo Services company header header'
    'cr cr legal legal sm sm';
  grid-gap: 1px;
  background-color: rgb(234, 240, 245);
  padding: 1px;
  
}
.Fgrid > div {
  background-color: rgb(234, 240, 245);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}
 .footer   {
	background-color: aqua;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
	box-shadow: rgba(0, 0, 0, 0.3) 4px 10px 7px 8px;
  /* bottom:0; */
  
 }


.log{
  background-color: rgb(217, 225, 224);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.log a{
  text-decoration: none;
  color: #3B3B3B;
}









