
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  
}


body {
  background: url(../images/back.jpg) no-repeat;
  /* background: red; */
  background-size: cover;
  /* display: flex;
  justify-content: center; */
  align-items: center;
}

.contact-section{
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  /* display: flex;
  justify-content: flex-start; */
  align-items: center;
  height:600px;
  position: relative;
}

.contact-info{
  color: #000000;
  /* max-width: 500px; */
  padding: 10% 0px 0px 0px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 20px;
  margin: 30px 50px;
  position: absolute;
}

.contact-info i{
  margin-right: 20px;
  font-size: 25px;
}

.wrapper {
  position: absolute;
  background: red;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(222, 184, 135);
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field {
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea {
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"] {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #000000;
  color: 	#ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message {
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
